
$blue: #4A44F2;
$yellow: #F2E635;
$red: #F20505;
$darkBlue: #3726A6;
$darkYellow: #F2BE22;

$white: #fff;
$black: #333;

$html: rgb(229, 79, 38);
$css: rgb(12, 115, 184);
$js: rgb(231, 164, 43);
$bootstrap: rgb(92, 68, 132);
$jquery: rgb(18, 106, 175);


$left: left;
$right: right;


$mobile: 767px;
$tablet: 768px;
$desktop: 992px;
$largeDesktop: 1200px;


